<div class="ReadWidthColumnContainer" data-module>
    {{include "includes/Container-title.hbs" this}}

    <div class="ReadWidthColumnContainer-container" data-modulewell>
        {{#with columnOne}}
            {{this}}
        {{/with}}
    </div>
</div>